name: postgres-compose
services:
    postgres:
        image: postgres:18.1-trixie
        container_name: postgres
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: password
        volumes:
        - .\mount\postgres\data:/var/lib/postgresql
        - .\mount\postgres\schemas://schemas
        - .\init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:ro
        networks:
        - postgres-cluster
        hostname: postgres.mavasbel.vpn.itam.mx
        ports:
        - 5423:5432
        extra_hosts:
        - host.docker.internal:host-gateway
        - postgres.mavasbel.vpn.itam.mx:host-gateway
        dns:
        - 10.15.20.1
        deploy:
            resources:
                limits:
                    cpus: '2.0'
                    memory: 2G
        restart: unless-stopped
        healthcheck:
            test:
            - CMD-SHELL
            - test -f /tmp/dbs_initialized && pg_isready -U postgres -d postgres &&
                for db in $$(echo $$DBS_LIST | tr ',' ' '); do psql -U postgres -d
                $$db -c "SELECT 1" || exit 1;done
            interval: 5s
            timeout: 10s
            retries: 10
            start_period: 20s
networks:
    postgres-cluster:
        driver: bridge
